<nav id="headerNav" class="navLinks">
    <Header::NavLinks::LinkItem @data={{getRoute 'home'}} />
    <Header::NavLinks::LinkItem @data={{getRoute 'about'}} />
    <Header::NavLinks::LinkItem @data={{getRoute 'contact'}} />
</nav>