/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */
@import url(https://fonts.googleapis.com/css?family=Lato:300,300italic,400,700,700italic);
@import url('https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h56
h6,
p,
div,
span,
a,
button {
  font-family: 'Lato', 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  background-color: #28282B;
  color:#fff;
  width:100vw;
  height:100vh;
}

.arcReactorContainer{
  margin: 10px;
  background:  url('../assets/images/arcReactor.png');
  background-size: contain;
  width: 45px;
  height: 45px;
}

.header{
  padding: 1vh 2vw;
  width: 100vw;
  display: flex;
  align-items: center;
}

.marvel-regular,.marvel-bold {
  font-family: "Marvel", sans-serif;
  font-style: normal;
}
.marvel-regular {
  font-weight: 400;
}
.marvel-bold {
  font-weight: 700;
}
.logoLabel{
  display: inline-block;
  margin: 10px;
  font-size: 35px;
}

.navLinks{
  margin-left: auto;
}

.navLinks a{
  text-decoration: none;
  color: #fff;
  margin: 0px 5px;
}