/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */
@import url(https://fonts.googleapis.com/css?family=Lato:300,300italic,400,700,700italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a,
button {
  font-family: 'Lato', 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  background: #f3f3f3;
}
.tomster {
    background: url(../assets/images/teaching-tomster.png);
    /* ...snip... */
    width: 600px;
    height: 700px;
  }