@import url('https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a,
button {
  font-family: "Marvel", sans-serif;
  font-style: normal;
}

body {
  background-color: #28282B;
  color:#fff;
  width:100vw;
  height:100vh;
  padding: 0 2vw;
}

.arcReactorContainer{
  margin: 10px;
  background:  url('../assets/images/arcReactor.png');
  background-size: contain;
  width: 45px;
  height: 45px;
}

.header{
  padding: 1vh 2vw;
  width: 100%;
  display: flex;
  align-items: center;
}

.marvel-regular {
  font-weight: 400;
}
.marvel-bold {
  font-weight: 700;
}
.logoLabel{
  display: inline-block;
  margin: 10px;
  font-size: 35px;
}

.navLinks{
  margin-left: auto;
}

.navLinks a{
  text-decoration: none;
  color: #fff;
  margin: 0px 10px;
}